

  

  .blog-title {
    font-size: 32px;
    line-height: 1.2;
    color: #222;
    margin: 1rem;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
  }
  
  .blog-container {
    font-family: "Roboto_Slab variant0", Tofu;
  }
  
  .blog-section {
    gap: 2rem;
    margin: 2rem;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    
  }
  
  .blog-text {
    font-size: 20px;
    line-height: 1.8;
    color: #333;
    margin-bottom: 20px;
    width: 100%;
    padding: 0px 10px 10px 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
  }


  



  .divider {
    width: 100%;
    height: 2px;
    background-color: #e0e0e0;
    margin: 30px 0;
    
  }
  
  .blog-text {
    width: 70%;
    text-align: justify;
  }

  .blog-image-con {
    max-width: 100%;
    width: 600px;
    
  }
  
  .blog-image {
    width: 100%;
    height: 300px;
    
  }

  .blog-image-con img {
    transition: 1s ease;
    }
    
    .blog-image-con img:hover {
    border-radius: 20%;
    transition: 1s ease;
    } 
 
  @media screen and (max-width: 426px) {
    .blog-title {
      font-size: 24px;
    }
  
    .blog-text {
      font-size: 16px;
    }
  
    .blog-image {
      width: 100%;
    }
  
    .blog-image-con {
      width: 100%;
    }
  
    .blog-text {
      width: 100%;
    }
  
    .blog-section {
      gap: 2rem;
      margin: 2rem;
      margin-bottom: 40px;
      display: flex;
      flex-direction: column;
      
    }
  }