/* FooterPage.css */

/* Common styles for all screen sizes */
.footer-container {
  background-color:#8eab92;
  color: #fff;
  padding: 2rem;
  text-align: center; /* Center-align all content */
  width: 100%;
  height: 350px;
  margin-top: 20%;
}

.text12765{
font-weight: 1000;
}
.list45 {


  /* font-weight: 800; */
  
  vertical-align: top;

  line-height: 130%;
  /* word-spacing: 29%; */
  font-family:   "Roboto_Slab variant0", Tofu;
}
.list45:hover {
  color: #292827; /* Change the color on hover */
}
.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Center-align items horizontally */
  max-width: 1200px;
  margin: 0 auto 20px; /* Center-align the entire wrapper */
}

.footer-section {
  /* flex: 1 1 250px; */
  margin-bottom: 20px;
  padding: 0 10px;
  box-sizing: border-box;
  align-items: flex-start;
}
.list1{
 color: #8eab92;
}
.list1:hover{
  background-color: black;
}

.footer-section h3 {
  font-size: 22px;
  margin-bottom: 10px;
  color: #ffffff;
  text-align: left;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 5px;
  color: white;
  text-align: left;
  font-size: 18px; font-weight: 15px;
}


/* Remove blue underlines from links */
.footer-section a {
  color: white;
  text-decoration: none;
}

.social-media-icons {
  list-style: none;
  padding: 0;
  display: flex;
  /* display: flex; */
  justify-content: center;
  /* Center-align social media icons */
}
.social-media-icons a:hover i,
.payment-icons i:hover {
  color: #31302d; /* Change the color on hover */
  transform: scale(1.2); /* Optionally, scale the icon on hover */
}



.footer-bottom hr {
 
    margin: 1rem 0;
    color: inherit;
    /* border: 0; */
    border-top: 5px solid white;
    opacity: .25;

}

.social-media-icons li {
  margin-right: 10px;
  line-height: 30px;
}

.social-media-icons li a {
  color: white;
  line-height: 80%; 
  position: relative;
  right: 1.5rem;
  text-decoration: none;
  font-size: 1.5rem; /* Remove blue underlines from social media links */
}

.footer-bottom {
  margin-top: 20px;
}

.footer-bottom p {
  font-size: 14px;
}

/* Media query for screens with a maximum width of 425px */
@media screen and (max-width: 425px) {
  .footer-section {
    flex-basis: 100%; /* Full width for small screens */
  }
  .footer-section h3 {
    text-align: center; /* Center-align headings for small screens */
  }
  .footer-wrapper {
    justify-content: flex-start; /* Align items to the start for small screens */
  }
  .text12765 {
    flex-direction: column;
  }
  .list45 {
    flex-direction: column;
  }
}