.footer-details {
    padding: 2rem;
    max-width:1200px;
    margin: 0 auto;
    font-family:   "Roboto_Slab variant0", Tofu;
   

  }
  
  .footer-details h1, .footer-details h2, .footer-details h3 {
    color: #333;
    margin-bottom: 10px;
    font-family:  "Rowdies variant0", Tofu;
  }
  
  .footer-details p {
    line-height: 1.7;
     margin-bottom: 20px;
     font-size: large;
  } 
  
  .footer-details ul {
    list-style: disc;
    margin-left: 20px;
    margin-bottom: 20px;
  }
  
  .footer-details li {
    margin-bottom: 10px;
    
  }
  
  .footer-details hr {
    margin: 20px 0;
  }
  
 