.headervik {
    width: 100%;
    border-bottom: 1px solid #eee;
    background: #8eab92;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: space-around;
    align-items: center;

   
   
}
.headervik a{
    text-decoration: none;
}
 .containervik{
    padding-top: 1rem;
 }
 .containervik ul {
    display: flex;
    justify-content:space-around;
    gap: 2rem;
    align-items: center;

  
}
 
.containervik ul{
    list-style: none;
}
.colors {
    color: var(--primary);
}
 
.nav-menu {
    display: flex;
}
.logovik
{
  color:white;
   font-Size: 28px;
}
 
.nav-menu li {
    padding: 0 1rem;
}
 
.nav-menu a {
    font-size: 1rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
}
 
.hamburger {
    display: none;
    cursor: pointer;
}
 

  
.navvik-right{
    display: flex;
    gap: 0.8rem;
    color: black;
    /* margin-right: 2rem; */
   margin-top: 1%;
}


.tooltip-inner {
    max-width: var(--bs-tooltip-max-width);
    padding: var(--bs-tooltip-padding-y) var(--bs-tooltip-padding-x);
    color: black !important;
    text-align: center;
    background-color: white !important;
    border-radius: var(--bs-tooltip-border-radius);
    box-shadow: 0px 0px 20px grey;
}


.bg-button1{
    background-color:rgb(149, 149, 235);
    color: white;
    padding: 5px;
    width: 50%;
    border-radius: 10px;
    border: none;
    
}
.bg-button2{
    background-color:rgb(149, 149, 235);
    color: white;
    padding: 5px;
    width: 60%;
    border-radius: 10px;
    border: none;
    
}


.tooltip-container {
	position: relative;
  }
  
  .tooltip {
	position: absolute;
	top: 110%; /* Increase the distance from the icon */
	left: -200%;
	transform: translateX(-50%);
	background-color: white; /* Set the background color to white */
	color: #333; /* Set the text color */
	padding: 14px 18px; /* Adjust padding for a larger tooltip */
	border-radius: 8px; /* Increase border-radius for a rounder shape */
	font-size: 16px; /* Increase font size for better visibility */
	font-weight: 400;
	white-space: nowrap;
	opacity: 0;
	pointer-events: none;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
	transition: opacity 0.2s;
  }
  
  .menu-icon:hover + .tooltip {
	opacity: 1; /* Increase opacity for better visibility */
  }
  .menu-icon{
    color: white;
  }
   
  :root {
	  --mainColor: #29335c;
	  --mainColorLight: #5767aa;
	  --secondaryColor: #db2b39;
	  --textColor: #eee;
  }
  *{
	  margin: 0px;
	  padding: 0px;
	  
	  box-sizing: border-box;
  }
  
 




@media screen and (max-width:1240px) {
    .hamburger {
        display: flex;
    }
 
    .nav-menu {
        position: absolute;
        flex-direction: column;
        justify-content: start;
        top: 50px;
        right: -100%;
        width: 50%;
        
        transition: 0.4s;
        z-index: 2;
        background: #8eab92;
        border-left: 1px solid #eee;
    }
 
    .nav-menu.active {
        right: 0;
    }
 
    .nav-menu li {
        padding: 1rem;
        width: 100%;
        border-bottom: 1px solid white;
    }
 
    .nav-menu a {
        font-size: 1.2rem;
    }
}



.nav-searchbarvik input{
    border: none;
    outline: none;
    padding: .3rem;
   
   
}
.nav-searchbarvik button{
    border: none;
    padding: .3rem;
}