.navvik-right{
    display: flex;
    gap: 2rem;
    margin-top: .5rem;
    margin-left: 3rem;
}

.navvik-right *{
    color: #333;
}

.tooltip-inner {
    max-width: var(--bs-tooltip-max-width);
    padding: var(--bs-tooltip-padding-y) var(--bs-tooltip-padding-x);
    color: black !important;
    text-align: center;
    background-color: white !important;
    border-radius: var(--bs-tooltip-border-radius);
    box-shadow: 0px 0px 20px grey;
}


.bg-button1{
    background-color:rgb(149, 149, 235);
    color: white;
    padding: 5px;
    width: 50%;
    border-radius: 10px;
    border: none;
    
}
.bg-button2{
    background-color:rgb(149, 149, 235);
    color: white;
    padding: 5px;
    width: 60%;
    border-radius: 10px;
    border: none;
    
}


.tooltip-container {
	position: relative;
  }
  
  .tooltip {
	position: absolute;
	top: 110%; /* Increase the distance from the icon */
	left: -200%;
	transform: translateX(-50%);
	background-color: white; /* Set the background color to white */
	color: #333; /* Set the text color */
	padding: 14px 18px; /* Adjust padding for a larger tooltip */
	border-radius: 8px; /* Increase border-radius for a rounder shape */
	font-size: 16px; /* Increase font size for better visibility */
	font-weight: 400;
	white-space: nowrap;
	opacity: 0;
	pointer-events: none;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
	transition: opacity 0.2s;
  }
  
  .menu-icon:hover + .tooltip {
	opacity: 1; /* Increase opacity for better visibility */
  }

  *{
	  margin: 0px;
	  padding: 0px;
	  
	  box-sizing: border-box;
  }
  
 
.nav-searchbarvik{
    border: 1.4px black solid;
    border-radius:3px;
    padding-bottom: 1px;
    width: 350px;
    margin-left: 2rem;
}




.nav-searchbarvik input{
    border: none;
    outline: none;
    padding: .3rem;
    width: 320px;
   
   
}
.nav-searchbarvik button{
    border: none;
    padding: .3rem;
    background-color: white;
}
.me-autovik{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    color: black;
    font-weight: 500;
    margin-top: .3rem;
}



.logovik{
   color: black;
   
}