/* SareeShopCarousel.css */
.saree-shop-carousel {
    width: 90%;
    margin: 0  auto;
  }
  
  .carousel-item {
    padding: 0 10px; /* Adjust as needed */
    text-align: center; /* Center the content if necessary */
  }
  .columb65{
    display: flex;
    flex-direction: column;
    filter: brightness(100%);
  }
  .space23{
    margin-left: 180px;
    width: 10%;
  }
  /* Adjust styling as needed */
  .slick-initialized .slick-slide {
    display: block;
    width: 300 !important;
}  
.flexchange231{
    display: flex !important;
    flex-direction: row !important;
}

/* SareeShopCarousel.css */

/* SareeShopCarousel.css */

.slick-arrow {
  font-size: 24px;
  color: white;
  background: #333;
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.next-arrow {
  right: 10px;
}

.prev-arrow {
  left: 10px;
}

.slick-prev,
.slick-next {
  display: none !important; /* Hide default arrows */
}

.slick-dots {
  position: static !important;
}

@media  screen and (max-width:770px) {
  .saree-shop-carousel {
    width: 100%;
    margin: 0  auto;
    margin-left: -10rem;
  }
}



